<h1>제목 : <%=@post.title%></h1>
<a href="/post/edit/<%=@post.id%>"><button type="button" class="btn btn-secondary btn-sm">수정</button></a>
<a href="/post/destroy/<%=@post.id%>"><button type="button" class="btn btn-secondary btn-sm">삭제</button></a>
<p>글번호 : <%=@post.id%></p>
<p>작성자 : <%=@post.user.email%></p>
<p>내 용 : <%=@post.content%></p>



<!-- 댓글 form -->
<!--<form action="/post/create_comment" method="post">-->
<!--    <input type="hidden" name="post_id" value="<%= @post.id %>">-->
<!--    <input type="text" name="comment">-->
<!--    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token()%>">-->
<!--    <input type="submit" value="완료">-->
<!--</form>-->

<%= form_tag("/post/create_comment", method:"post") do %>
    <%= text_field_tag(:comment)%>
    <%= hidden_field_tag(:post_id, @post.id ) %>
    <%= submit_tag("댓글") %>
<% end %>





<% @comments.each do |comment| %>
<p><%= comment.content %></p>
<% end %>